<mat-toolbar color="primary">
  <button
    *ngIf="promptUpdateService.isEnabled()"
    color="accent"
    mat-button
    (click)="promptUpdateService.forceCheckUpdate$.next(true)"
  >
    Force Check Update
  </button>
  <span>My PWA Ads App (version 8)</span>
  <span class="header-spacer"></span>
  <button
    mat-raised-button
    [color]="rla.isActive ? 'accent' : 'basic'"
    routerLink="/ads"
    routerLinkActive
    #rla="routerLinkActive"
    style="margin-right: 15px"
  >
    No Cache
  </button>
  <button
    mat-raised-button
    [color]="rlaCahced.isActive ? 'accent' : 'basic'"
    routerLink="/ads-cached"
    routerLinkActive
    #rlaCahced="routerLinkActive"
    style="margin-right: 15px"
  >
    Cached P
  </button>
  <button
    mat-raised-button
    [color]="rlaCahcedF.isActive ? 'accent' : 'basic'"
    routerLink="/ads-cached-freshness"
    routerLinkActive
    #rlaCahcedF="routerLinkActive"
  >
    Cached F
  </button>
</mat-toolbar>
<main class="main">
  <div style="display: flex; justify-content: center; padding-bottom: 20px">
    <button mat-raised-button color="basic" (click)="subscribeOnPush()">Subscribe</button>
    <button mat-raised-button color="basic" (click)="sendPush()">Send Message</button>
  </div>
  <router-outlet></router-outlet>
</main>
